<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f2e0e49a34.js" crossorigin="anonymous"></script>
    <title>Document</title>



    <style>

    </style>
</head>

<body>
    <article class="card__data palette-<%= palette %>">
        <h2 class="card__data--title name ">
            <%= name %>
        </h2>

        <h3 class="card__data--title job ">
            <%= job %>
        </h3>


        <div class="card__data--img"><img> <img src="<%= photo %>" alt="image profile" title="Imagen del usuario">
        </div>

        <ul class="card__data--list">
            <li class="circle">
                <a href="tel:<%= phone %>" class="card__data--icon phone">
                    <i class="fas fa-mobile-alt"></i>
                </a>
            </li>
            <li class="circle">
                <a href="mailto:<%= email %>" class="card__data--icon email" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li class="circle">
                <a href="https://linkedin.com/in/<%= linkedin %>" class="card__data--icon linkedin" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li class="circle">
                <a href="https://github.com/<%= github %>" class="card__data--icon github " target="_blank">
                    <i class="fab fa-github-alt"></i>
                </a>
            </li>
        </ul>
    </article>

</body>

</html>